* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}
body {
  background-color: #eeeeee;
}

.main-nav {
  z-index: 8;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  font-family: "Titillium Web", sans-serif;
  background-color: rgba(0, 0, 0, 0);
}
.main-logo img {
  height: 80px;
}
.nav-links {
  position: absolute;
  right: 0px;
  height: 50vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in;
  font-size: 2rem;
}

.nav-active {
  transform: translateY(0%);
}
.nav-links li {
  list-style: none;
  cursor: pointer;
}
.mobile-menu {
  height: 3.4rem;
  padding: 4px 20px 4px 20px;
  border: 1px solid #ffffff;
  cursor: pointer;
  z-index: 10;
  font-size: 1.5rem;
}

.start-page-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.action-arrow {
  position: absolute;
  bottom: 5px;
  left: 45%;
  font-size: 3rem;
  cursor: pointer;
}
.action-arrow a {
  color: #ffffff;
  text-decoration: none;
}

.welcome,
.notifications,
.news,
.vehicles,
.calendar {
  /*background-color: silver;*/
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#welcome-anchor {
  padding-top: 104px;
  margin-top: -104px;
}
section h1 {
  font-weight: normal;
  font-size: 1.8rem;
  margin-top: 2vh;
  margin-bottom: 0.5vh;
}
.notifications h1 {
  font-weight: bold;
}
section h2 {
  font-size: 1.4rem;
}

section p {
  margin-bottom: 1vh;
}

.news .news-wrapper .news-image img {
  width: 100%;
}
.news .news-wrapper .news-date {
  font-size: 0.9rem;
}
.news .news-wrapper .news-button {
  width: 100%;
  height: 2vh;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  text-align: center;
  line-height: 2vh;
  cursor: pointer;
  margin-bottom: 2vh;
}
.news .news-wrapper .news-button:hover {
  background-color: #dadada;
}

.vehicles .vehicle-wrapper .vehicle-image img {
  width: 100%;
}

.calendar .calendar-wrapper img {
  width: 100%;
}

.footer-wrapper {
  width: 100%;
  height: 100px;
  background-color: #071827;
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  align-items: center;
}
